<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title mb-4">Danh sách sản phẩm</h4>
            <p class="card-category">Kết quả từ 1-10 trên 1000 loại sản phẩm đang được kinh doanh</p>
          </div>
          <div id="productListWrapper" class="card-body p-0 pt-2 table-responsive">
            <table id="product-table" class="table table-hover table-striped">
              <thead>
                <th>ID</th>
                <th>Tên</th>
                <th>Nhãn hiệu</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Ngày ra mắt</th>
                <th>Đánh giá</th>
              </thead>
              <tbody>
                {{#each allProducts}}
                <tr data-path="{{path}}">
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{brand}}</td>
                  <td>{{price}} ₫</td>
                  <td>{{quantity}}</td>
                  <td>{{dateRelease}}</td>
                  <td>{{rating}}/5</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <button id="addNewProduct" class="btn btn-info m-3">Thêm sản phẩm</button>
            <nav class="pull-right mr-4 mb-4" aria-label="...">
              <div id="productListPagination" class="pagination-box">
                <div class="paginationjs">
                  <div class="paginationjs-pages">
                    <ul>
                      {{#if pageCount}}
                      {{#pagination pageCount currentPage pageRange path}}
                      {{/pagination}}
                      {{/if}}
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mb-0" id="product-details-table">
          <div class="card-header">
            <h4 class="card-title">Chi tiết sản phẩm</h4>
          </div>
          <div class="card-body">
            <form id="product-details" method="POST"
              action="{{#if update}}/products/update{{else}}/products/create{{/if}}"
              enctype="application/x-www-form-urlencoded">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="font-weight-bold">ID</label>
                    <input id="id" name="id" type="text" value="{{productDetails.id}}" class="form-control" disabled>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="font-weight-bold">Tên sản phẩm</label>
                    <input name="name" type="text" value="{{productDetails.name}}" class="form-control"
                      placeholder="VD: Nokia 8.1">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="font-weight-bold">Nhãn hiệu</label>
                    <input name="brand" type="text" value="{{productDetails.brand}}" class="form-control"
                      placeholder="VD: Nokia">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="font-weight-bold">Giá bán (₫)</label>
                    <input id="price" class="form-control" name="price" type="text" value="{{productDetails.price}}"
                      placeholder="VD: 8.000.000">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="font-weight-bold">Khuyến mãi (%)</label>
                    <input id="promote" name="promote" type="text" value="{{productDetails.promote}}"
                      class="form-control" placeholder="VD: 20">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="font-weight-bold">Giá bán áp dụng khuyến mãi (₫)</label>
                    <input id="newPrice" type="text" value="{{productDetails.newPrice}}" class="form-control"
                      placeholder="" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label class="font-weight-bold">Số lượng tồn kho</label>
                    <input name="quantity" type="text" value="{{productDetails.quantity}}" class="form-control"
                      placeholder="VD: 1000">
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label class="font-weight-bold">Số lượng đã bán</label>
                    <input type="text" value="{{productDetails.soldQuantity}}" class="form-control"
                      placeholder="VD: 1000" disabled>
                  </div>
                </div>
                <div class="col-md-3 pr-1">
                  <div class="form-group">
                    <label class="font-weight-bold">Ngày ra mắt </label>
                    <input name="dateRelease" type="date" value="{{productDetails.dateReleaseInput}}"
                      class="form-control">
                  </div>
                </div>
                <div class="col-md-3 pl-1">
                  <div class="form-group">
                    <label class="font-weight-bold">Đánh giá</label>
                    <input type="text" {{#if productDetails.rating}} value="{{productDetails.rating}}/5" {{/if}}
                      class="form-control" placeholder="VD: 5/5" disabled>
                  </div>
                </div>
              </div>
              <div class="container-fluid mt-4">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card" id="product-image">
                      <div class="card-body">
                        <img class="img-fluid"
                          src="{{#if productDetails.images.[0]}}{{productDetails.images.[0]}}{{else}}/images/image-not-available.jpg{{/if}}"
                          alt="Ảnh sản phẩm">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card" id="product-image">
                      <div class="card-body">
                        <img class="img-fluid"
                          src="{{#if productDetails.images.[1]}}{{productDetails.images.[1]}}{{else}}/images/image-not-available.jpg{{/if}}"
                          alt="Ảnh sản phẩm">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card" id="product-image">
                      <div class="card-body">
                        <img class="img-fluid"
                          src="{{#if productDetails.images.[2]}}{{productDetails.images.[2]}}{{else}}/images/image-not-available.jpg{{/if}}"
                          alt="Ảnh sản phẩm">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card" id="product-image">
                      <div class="card-body">
                        <img class="img-fluid"
                          src="{{#if productDetails.images.[3]}}{{productDetails.images.[3]}}{{else}}/images/image-not-available.jpg{{/if}}"
                          alt="Ảnh sản phẩm">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="font-weight-bold">Chọn file từ máy tính</label>
                    <input type="file" class="upload-img" accept="image/*" data-max-size="5000"
                      data-link-to="productImg1" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="font-weight-bold">URL hình ảnh 1</label>
                    <input id="productImg1" name="img1" type="text" class="form-control"
                      placeholder="VD: http://imgur.com/id1" value="{{productDetails.images.[0]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="font-weight-bold">Chọn file từ máy tính</label>
                    <input type="file" class="upload-img" accept="image/*" data-max-size="5000"
                      data-link-to="productImg2" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="font-weight-bold">URL hình ảnh 2</label>
                    <input id="productImg2" name="img2" type="text" class="form-control"
                      placeholder="VD: http://imgur.com/id2" value="{{productDetails.images.[1]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="font-weight-bold">Chọn file từ máy tính</label>
                    <input type="file" class="upload-img" accept="image/*" data-max-size="5000"
                      data-link-to="productImg3" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="font-weight-bold">URL hình ảnh 3</label>
                    <input id="productImg3" name="img3" type="text" class="form-control"
                      placeholder="VD: http://imgur.com/id3" value="{{productDetails.images.[2]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="font-weight-bold">Chọn file từ máy tính</label>
                    <input type="file" class="upload-img" accept="image/*" data-max-size="5000"
                      data-link-to="productImg4" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="font-weight-bold">URL hình ảnh 4</label>
                    <input id="productImg4" name="img4" type="text" class="form-control"
                      placeholder="VD: http://imgur.com/id4" value="{{productDetails.images.[3]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="font-weight-bold">URL sản phẩm</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">http://blueshopp/product/</span>
                    </div>
                    <input name="path" type="text" value="{{productDetails.path}}" class="form-control" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="font-weight-bold">Mô tả</label>
                    <textarea name="description" rows="4" cols="80" class="form-control"
                      placeholder="Nhập mô tả sản phẩm...">{{productDetails.description}}</textarea>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                {{#if update}}<button type="reset" class="btn btn-danger mr-1" data-toggle="modal"
                  data-target="#deleteProduct">Xóa
                  sản phẩm</button>
                {{/if}}
                <button type="reset" class="btn btn-secondary mr-1">Khôi phục</button>
                {{#if update}}
                <button id="submitFormUpdate" type="submit" class="btn btn-info">Cập nhật</button>
                {{else}}
                <button id="submitFormCreate" type="submit" class="btn btn-info">Tạo mới</button>
                {{/if}}
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      {{!--  --}}
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thao tác không thể khôi phục. Bạn có chắn chắn muốn xóa sản phẩm?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
        <button id="acceptDelete" type="button" class="btn btn-primary"> <span
            class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>