<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title mb-4">Danh sách người dùng</h4>
            <p class="card-category">Kết quả từ 1-10 trên 1000 người dùng</p>
          </div>
          <div id="userListWrapper" class="card-body p-0 pt-2 table-responsive">
            <table id="userListTable" class="table table-hover table-striped">
              <thead>
                <th>ID</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
              </thead>
              <tbody>
                {{#each allUsers}}
                <tr data-id="{{id}}">
                  <td>{{id}}</td>
                  <td>{{fullname}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{address}}</td>
                  <td>{{status}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <nav class="pull-right mr-4 mb-4" aria-label="...">
              <div id="userListPagination" class="pagination-box">
                <div class="paginationjs">
                  <div class="paginationjs-pages">
                    <ul>
                      {{#if pageCount}}
                      {{#pagination pageCount currentPage pageRange path}}
                      {{/pagination}}
                      {{/if}}
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cảnh báo xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thao tác không thể khôi phục. Bạn có chắn chắn muốn xóa sản phẩm?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
        <button id="acceptDelete" type="button" class="btn btn-primary"> <span
            class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông tin người dùng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <img class="bg-dark img-fluid m-2"
                  src="{{#if userDetails.profilePicture}}{{userDetails.profilePicture}}{{else}}/images/default-avatar.png{{/if}}"
                  alt="profile picture">
              </div>
              <div class="text-center">
                <input id="blockStatus" type="checkbox" {{#unless userDetails.status}}checked{{/unless}}
                  data-toggle="toggle" data-width="100" data-on="Mở" data-off="Khóa" data-onstyle="success"
                  data-offstyle="danger">
              </div>


            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="userID" class="col-form-label font-weight-bold">ID</label>
                    <input type="text" class="form-control" id="userID" value="{{userDetails.id}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userFullname" class="col-form-label font-weight-bold">Tên người dùng</label>
                    <input type="text" class="form-control" id="userFullname" name="fullname"
                      value="{{userDetails.fullname}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ml-3">
                    <label class="font-weight-bold">Giới tính</label>
                    <div class="mt-1">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="male" checked>
                        <label class="form-check-label" for="inlineRadio1">Nam</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="female">
                        <label class="form-check-label" for="inlineRadio2">Nữ</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label for="userEmail" class="col-form-label font-weight-bold">Email</label>
                    <input type="email" name="email" class="form-control" id="userEmail" value="{{userDetails.email}}"
                      disabled>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="userPhone" class="col-form-label font-weight-bold">Số điện thoại</label>
                    <input type="text" class="form-control" name="phone" id="userPhone" value="{{userDetails.phone}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="userAddress" class="col-form-label font-weight-bold">Địa chỉ</label>
                    <input type="text" class="form-control" name="address" id="userAddress"
                      value="{{userDetails.address}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>